<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skripsi | WQI Classify</title>

    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/unnes-logo.png') }}" sizes="16x16" type="image/png">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <!-- end font -->

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- end icon -->
</head>
<body>
    <!-- navbar -->
    <nav class="bg-white py-4 fixed top-0 left-0 right-0 z-20 font-serif">
        <ul class="flex mx-20 items-center xl:gap-80">
            <li>
                <div class="flex gap-2 items-center">
                    <img src="{{ url_for('static', filename='img/unnes-logo.png') }}" class="w-8" alt="Unnes logo">
                    <p class="text-black text-xl font-medium">Skripsi</p>
                </div>
            </li>
            <div class="flex gap-10">
                <li>
                    <a href="{{ url_for('index') }}" class="text-black hover:underline hover:font-bold transition-all duration-300 ease-in-out {% if request.path == url_for('index') %} font-bold {% endif %}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('classify') }}" class="text-black hover:underline hover:font-bold transition-all duration-300 ease-in-out {% if request.path == url_for('classify') %} font-bold {% endif %}">Classification</a>
                </li>
                <li>
                    <a href="{{ url_for('render_model_page') }}" class="text-black hover:underline hover:font-bold transition-all duration-300 ease-in-out {% if request.path == url_for('render_model_page') %} font-bold {% endif %}">Model</a>
                </li>
                <li>
                    <a href="{{ url_for('about') }}" class="text-black hover:underline hover:font-bold transition-all duration-300 ease-in-out {% if request.path == url_for('about') %} font-bold {% endif %}">About</a>
                </li>
            </div>
        </ul>
    </nav>
    <!-- end of navbar -->

    <!-- isi konten -->
     {% block content %} {% endblock %}

    <!-- footer -->
    <footer class="flex flex-col justify-around bg-black h-96 w-full xl:mt-20">
        <div class="flex justify-around items-center mx-20 my-10">
            <div class="flex flex-col">
                <div class="flex gap-2 items-center">
                    <img src="{{ url_for('static', filename='img/unnes-logo.png') }}" class="w-8" alt="Unnes logo">
                    <p class="text-white text-xl font-medium font-serif">Skripsi</p>
                </div>
                <p class="text-white w-80 font-sans">Submitted as one of the requirements to obtain a Bachelor of Computer Science (S.Kom) degree</p>
            </div>
            <div class="flex flex-col text-white gap-5 cursor-pointer">
                <p class="text-lg font-bold font-serif">Pages</p>
                <a href="{{ url_for('index') }}" class="font-sans transition-all ease-in-out duration-200 hover:underline cursor-pointer">Home</a>
                <a href="{{ url_for('classify') }}" class="font-sans transition-all ease-in-out duration-200 hover:underline cursor-pointer">Classification</a>
                <a href="{{ url_for('render_model_page') }}" class="font-sans transition-all ease-in-out duration-200 hover:underline cursor-pointer">Model</a>
                <a href="{{ url_for('about') }}" class="font-sans transition-all ease-in-out duration-200 hover:underline cursor-pointer">About</a>
            </div>
            <div class="flex flex-col text-white gap-5">
                <p class="text-lg font-bold font-serif">Contact</p>
                <p class="font-sans">forggdev@gmail.com</p>
                <a href="instagram.com/s.injzhani" target="_blank" class="font-sans hover:underline">Instagram</a>
                <a href="github.com/injanisgg" target="_blank" class="font-sans hover:underline">Github</a>
                <a href="linkedin.com/suginiinjani" target="_blank" class="font-sans hover:underline">LinkedIn</a>
            </div>
        </div>
        <div class="border-b-2 mx-20 border-gray-400"></div>
        <p class="text-white mx-20 flex justify-start font-serif">&copy; Copyright Sugini Injani 2025. All Rights Reserved.</p>
     </footer>
    <!-- end footer -->
</body>
</html>